.image{
overflow: hidden;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  transition: .8s;
}
img:hover{
  transform: scale(1.2);
}
.card-container {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(246, 243, 243);
  text-align: center;
}
.add-btn {
  color: aliceblue;
  padding: 10px;
  margin-top: 20px;
  background-color: orangered;
  width: 94%;
  cursor: pointer;
}
.add-btn:hover{
  background-color: rgb(219, 69, 15);
}
